<h2>How to use Collatter</h2>
<h4>Collatterでお気に入りのコラ画像を見つけよう</h4>
<p>
Collatterでは投稿されたコラ画像が一覧で表示されます。<br>
お気に入りのコラがあったら画像をクリック！<br>
tweetしてみんなにシェアすることもできます。<br>
</p>
<h4>Collatterでコラ画像を作る</h4>
<p>
Collatterでは簡単にコラ画像を作ることができます。<br>
「コラ画像をつくる」をクリック！<br>
コラ作成画面でテンプレートを選択し、セリフを加えてください。<br>
既に完成しているコラ画像があれば、アップロードすることもできます。<br>
<br>
あなたのコラ画像にタグをつけてください。<br>
<br>
入力が完了したら「投稿」ボタンをクリック！<br>
<br>
あなたの作品をtweetしてみんなにシェアしましょう！
</p>