<h1>Collatter</h1>

<p>検索欄がここに入る</p>

<p>人気のコラテンプレがここに表示される</p>
<%= link_to 'Edit', 'static_pages/dummy_edit_template' %>

<p>人気のコラがここに表示される</p>
<%= link_to 'Edit', 'static_pages/dummy_edit_colla' %>
