<h1>Collatter</h1>

<p>検索欄がここに入る</p>

<p>人気のコラ画像</p>
<!-- <%= link_to 'Click', 'collas' %> -->

<div class="favorite_collas">
  <div>
    <img src="dummy1.jpg">
    <br><a href="colla">魔法使い</a>
  </div>
  <div>
    <img src="dummy2.png">
    <br><a href="collas/show">落単</a>
  </div>
  <div>
    <img src="dummy3.jpg">
    <br><a href="collas/show">鳳凰院凶真</a>
  </div>
</div>

<p>コラ画像を新しく作る</p>
<%= link_to 'Click', 'templates' %>
