<meta name="viewport" content="width=device-width, initial-scale=1.0">
<p id="notice"><%= notice %></p>

<div class="templates">
  <%= image_tag @template.image.to_s %>
</div>
<p>
  <strong>タグ:</strong>
  <%= @template.tag_txt %>
</p>

<%= link_to '戻る', templates_path %>
