/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media screen and (max-width:375px) {
  /*スマホ用のcssを記述*/
    body {
      color: #2d3133;
      background-color: #ffe4c4	;
      margin: 0;
      min-height: 1vh;
    }

  .logo img{
      background-size: contain;
      width: 80%;
      height: 50%;
    }

  .logo{
    text-align: center;
    position: relative;
    top: 20px;
  }

  .all{
    text-align: center;
  }

  .twitter{
    text-align: center;
    position: relative;
    top: 15px;
  }

}

@media screen and (min-width:961px) {
  /*pc用のcssを記述*/
  body {
    color: #2d3133;
    background-color: #ffe4c4	;
    margin: 0;
    min-height: 1vh;
  }

  .logo img{
      background-size: contain;
      width: 20%;
      height: 20%;
    }

  .logo{
    text-align: center;
    position: relative;
    top: 20px;
  }

  .all{
    text-align: center;
  }

  .twitter{
    text-align: center;
    position: relative;
    top: 15px;
  }
}

@media only screen and (min-width:376px) and (max-width:960px) {
  /*tablet用のcssを記述*/
  body {
    color: #2d3133;
    background-color: #ffe4c4	;
    margin: 0;
    min-height: 1vh;
  }

  .logo img{
      background-size: contain;
      width: 20%;
      height: 20%;
    }

  .logo{
    text-align: center;
    position: relative;
    top: 20px;
  }

  .all{
    text-align: center;
  }

  .twitter{
    text-align: center;
    position: relative;
    top: 15px;
  }
}
 
