/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 body {
    color: #2d3133;
    background-color: #c9fafc;
    margin: 0;
    min-height: 1vh;
  }

 header{
    height: 30px;
    z-index: 1;
    width: 120%;
  }

.favorite_collas img{
  display: inline-block;
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-size: contain;
}

.favorite_collas{
	margin-bottom: 20px;
	display: -webkit-flex;
	display: flex;
}