// Place all the styles related to the Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.template img{
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    border: 1px solid #ccc;
    background-size: contain;
    display: inline-block; 
    height: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .template{
      margin-bottom: 20px;
      display: -webkit-flex;
      display: flex;
      height: 100%;
  }